#div1 {
    width: 1200px; height: 1200px;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: 1200px 1200px;
    background-position: 300px 200px;
    background-image: url("고양이1.jpg");
    /*
    background: url("이미지경로"); no-repeat 200px 200px / 100px 100px ;
    */
}
#div1:hover{
    background-image: url(강아지1.jpg);
    color: red;
}
#div1 div {width: 50px; height: 50px;}