#login {width: 360px; height: 230px;
    box-shadow: 0 0 8px lightgray;
    border-radius: 10px;
}
.title {
    background-color: bisque;    
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    border-bottom: 3px dotted olive;
    width: 220px;
    margin:auto;
    padding: 10px 0;
    color: hotpink;
}
#login > form {
    background-color: aquamarine;
    width: 270px; margin: auto;
}
#login > form > input {
    color: gray; font-size: 20px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    letter-spacing: 3px; width: 98.5%;
    &:focus { border-bottom: 2px solid red;}
}
#login > form > button {
    margin-top: 20px;
    width: 100%; height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
    background-color: lightgray;
    &:hover {background-color: gray;}
    box-shadow: 0 0 2px black
}



#div1 { width: 100px; height: 100px; background-color: gray;
    color : wheat; font-size: 20px;    
    text-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px red;
}
#div1:active { color: blue; background-color: aqua;}
img { width: 100px; height: 100px;}
img:hover {box-shadow: 0 0 10px red;}
