#nav {width: 400px; background-color: gold;}
#menu {background-color: green;}
.menu1{
    background-color: skyblue;
    height: 0; overflow: hidden;
}
#menu li:hover .menu1{ height: 120px;
    transition: 1s;
}
li {width: 100px; list-style: none;
    text-align: center; height: 40px; line-height: 40px;
}
ul {margin: 0; padding: 0;}


#div1 {width: 100px; height: 100px; background-color: gold;
    transition: 1s; transition-delay: 1s;
}
#div1:hover {width: 300px; background-color: red; transition: 1s; }