#div1 {width: 1200px; height: 216px; background-color: red; border: 1px solid; background-repeat: no-repeat;}
#div1 :nth-child(1){
    background-image: url(강아지1.jpg);
    width: 216px; height: 216px;
    display: inline-block;
    margin-right: 30px;
    text-align:center;
    background-size: cover;
}
#div1 :nth-child(1):hover{color: white;}
#div1 :nth-child(2){
    background-image: url(강아지2.jpg);
    width: 216px; height: 216px;
    display: inline-block;
    margin-right: 30px;
    background-size: cover;
}
#div1 :nth-child(3){
    background-image: url(강아지3.jpg);
    width: 216px; height: 216px;
    display: inline-block;
    margin-right: 30px;
    background-size: cover;
}
#div1 :nth-child(4){
    background-image: url(강아지4.jpg);
    width: 216px; height: 216px;
    display: inline-block;
    margin-right: 30px;
    background-size: cover;
}
#div1 :nth-child(5){
    background-image: url(고양이1.jpg);
    width: 216px; height: 216px;
    display: inline-block;
    background-size: cover;
}
#div1 :nth-last-child(1) {margin-right: 0;}