#wrap2 {background-color: red; width: 300px; margin: auto;}
#header{background-color: aqua;}
#main{background-color: yellow; height: 100px; display: flex;}
#footer{background-color: greenyellow;}
#list{background-color: blanchedalmond; width: 20%;}
#section{background-color: brown; width: 60%;}
#section > div {width: 70%; margin: auto;
    & div {margin-top: 9px; background-color: yellow;}
}
#side {background-color: purple; width: 20%;}

#wrap {background-color: red; width: 300px; margin: auto;}
#wrap > :nth-of-type(1){color: hotpink; background-color: hotpink;}
#wrap > :nth-of-type(2){
    display: flex;
    height: 100px; background-color: yellow;
    &> :nth-of-type(1) { color: greenyellow; background-color: greenyellow; width: 30%;}
    &> :nth-of-type(2) { color: white ;background-color: white; width: 50%;}
    &> :nth-of-type(3) { color: black ;background-color: black; width: 20%;}
}
#wrap > :nth-of-type(3){color: blue; background-color: blue;}