#div1 {
    width: 200px;height: 200px;
    background-image: url(강아지1.jpg);
    background-size: cover;
    border-radius: 100px;
}
#div1:hover {
    color: blue;
    transform: rotate(360deg);
    transition: 2s;
}
#div2 {width: 200px;height: 200px;
    text-align: center;
    margin-top: -130px;
    font-size: 50px;
    color: white;    
}
#div2:hover {
    color: blue;
    margin-top: 30px;
    transition: 2s;
    
}