#wrap {width: 1200px; height: 216px; border: 1px solid; margin: auto;}
#wrap div {width: 216px; height: 216px; background-color: aqua;
    display: inline-block;
    margin-right: 30px;
    &:nth-last-child(1){ margin-right: 0px;}
    &:hover > span {
        color: red;
        background-color: purple;
        opacity: 0.8;
        transition: all 0.3s;
    }
    /*
    &:hover{
        & > span {
            color: red;
            background-color: blue;
        }
    }
    */
}

#wrap div:nth-of-type(1){background-image: url(고양이1.jpg);
    background-size: 216px 216px;
}
#wrap div:nth-of-type(2){background-image: url(고양이2.jpg);
    background-size: 216px 216px;}
#wrap div:nth-of-type(3){background-image: url(고양이3.jpg);
    background-size: 216px 216px;
}
#wrap div:nth-of-type(4){background-image: url(고양이4.jpg);
    background-size: 216px 216px;}
#wrap div:nth-of-type(5){background-image: url(강아지2.jpg);
    background-size: 216px 216px;
}

#wrap span {width: 100px;
    opacity: 0.1;
    display: block; margin: auto;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    border: 5px solid gray;
    border-radius: 10px;
    color: brown;
}