#wrap {width: 200px;}
#logo {width: 200px; height: 200px; border-radius: 200px; overflow: hidden;}
#logo > img {width: 200px;height: 200px; transition: all 0.3;}
#logo > img:hover{transform: scale(1.1);}
.item {
    width: 190px; height: 250px; border: 2px solid gray;
    border-radius:5px; overflow:hidden
}
.item div:nth-of-type(1){
    width: 190px; height: 130px; 
    overflow: hidden;
}
.item img{width: 190px; height: 130px;
    &:hover{
        transform: scale(1.1);
        transition: all 0.1s;
    }
}
.item :nth-of-type(2) {height: 90px;}
.item :nth-of-type(2) >a {
    color: black;
    text-decoration: none;
    &:hover{
        color: red
    }
}
.item :nth-of-type(3){
    text-align: right; color: blue
}
#logo ~ button {
    background-color: gray;
    border-radius: 20px; color: aliceblue;
    border: none;
    &:hover{
        background-color: darkgoldenrod;
    }
}